
	<div class="row">

	  <div class="col-xs-4 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="/1.jpg" alt="...">
	    </a>
	  </div>
  <% for @p in @posts %>
   <div class="col-xs-6">
		<div class="panel panel-default">
			<div class=" panel-body">
				<h1>6</h1>
			</div>
		</div>
	</div>
	<% end %>
	   <div class="col-xs-3">
		<div class="panel panel-default">
			<div class=" panel-body">
				<h1>6</h1>
			</div>
		</div>
	</div>
  </div>


<h1>Pages#profile</h1>
<p>Find me in app/views/pages/profile.html.erb</p>
