<style type="text/css">
	.banner-image{
		width: 100%;
	    height: 400px;
	    margin-top: -21px;
	}
</style>
	<div class="row">

	  <div class="col-xs-4 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="/1.jpg" alt="...">
	    </a>
	  </div>
  
   <div class="col-xs-6">
		<div class="panel panel-default">
			<div class=" panel-body">
				<h1>6</h1>
			</div>
		</div>
	</div>
	   <div class="col-xs-3">
		<div class="panel panel-default">
			<div class=" panel-body">
				<h1>6</h1>
			</div>
		</div>
	</div>
  </div>


<h1>Pages#profile</h1>
<p>Find me in app/views/pages/profile.html.erb</p>
